body {
  background: radial-gradient(
      circle at 30% 10%,
      rgba(0, 229, 176, 0.15),
      transparent 70%
    ),
    linear-gradient(180deg, #3b4cca 0%, #2a3e91 40%, #1f2e66 80%, #0e1329 100%);
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
