@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  background: radial-gradient(
    circle at 30% 20%,
    #2a3c8c 0%,
    #1c1f4a 40%,
    #0f1530 100%
  );
  /* background: radial-gradient(
      circle at 30% 10%,
      rgba(0, 229, 176, 0.15),
      transparent 70%
    ),
    linear-gradient(180deg, #3b4cca 0%, #2a3e91 40%, #1f2e66 80%, #0e1329 100%); */
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* background: radial-gradient(
    circle at 30% 20%,
    #5B79E8 0%,
    #38489B 40%,
    #1B2250 100%
  );
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
  filter: brightness(1.1); */
/* 
@keyframes gradientMove {
  0% {
    background-position: 30% 20%;
  }
  50% {
    background-position: 70% 80%;
  }
  100% {
    background-position: 30% 20%;
  }
} */
