/* container of swap-from */

.swap-container {
  border: 1.5px solid #393939;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropbox-of-coins {
  background-color: #131313;
  border: #393939 1px solid;
  width: 7vw;
  height: 3vw;
}
