/* container of swap-from */

.swap-container {
  border: 1.5px solid #393939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 0.5rem;
  height: 18vh;
}

.input-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}

.input-price-container input {
  font-size: 2rem;
  color: #ffffffa2;
  border: none;
  background-color: transparent;
  outline-style: none;
}

.input-price-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.from-span-text {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 1rem;
}

/* .from-amount-input {
  margin-bottom: 0.5rem;
} */

.price-in-usd {
  margin-top: 1rem;
  opacity: 0.5;
}

/* dropbox-menu */

.dropbox-of-coins {
  background-color: #131313;
  border: #393939 1px solid;
  width: 9vw;
  height: 3vw;
  border-radius: 25px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbox-menu-inactive {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0.2rem;
  background-color: #111111;
}

.dropbox-menu-inactive span {
  margin-right: 1rem;
  margin-left: 1rem;
}

.coin-img {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
}
