.pair-row {
  display: flex;
  justify-content: space-between; /* рівні проміжки */
  align-items: center;
  padding: 1rem 1.2rem;
  background: #1a1d26;
  border-bottom: 0.07rem solid #242833;
  font-family: "Inter", sans-serif;
  color: #dfe4ee;
  cursor: pointer;
  transition: background 0.15s ease;
  border-radius: 0.6rem;
  gap: 1rem;
  /* width: 1000px; */
}

.pair-row:hover {
  background: #1f232e;
}

/* LEFT BLOCK */
.pair-symbol {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* star */
.star {
  color: #f5c542;
  font-size: 1rem;
}

/* icon – відносна висота */
.pair-icon {
  height: 1.3rem;
  width: 1.3rem;
}

/* text */
.symbol-text {
  font-weight: 600;
  font-size: 1rem;
}

/* Perp tag */
.tag {
  background: #2d3445;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #e4e6f1;
}

/* RIGHT BLOCKS */
.pair-last-price,
.pair-change,
.pair-funding {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem; /* чисто для стабільності колонки */
}

/* colors */
.pair-change.positive {
  color: #27c281;
}

.pair-change.negative {
  color: #e05252;
}

.pair-funding {
  opacity: 0.85;
}
