.header-recent-invests {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: linear-gradient(
    180deg,
    rgba(60, 74, 140, 0.45) 0%,
    rgba(45, 57, 110, 0.55) 100%
  );
}

.main-span-recent-invests {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 100;
  margin-left: 3rem;
}

.small-span-recent-invests {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #ffffffa3;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .main-span-recent-invests {
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }

  .small-span-recent-invests {
    font-size: 0.7rem;
  }
}
