@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Dark Theme */

body {
  background-attachment: fixed;
  color: white;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

body.dark-theme {
  font-family: "Ubuntu", sans-serif;
  background: radial-gradient(
    circle at 30% 20%,
    #2a3c8c 0%,
    #1c1f4a 40%,
    #0f1530 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Light Theme  */

body.light-theme {
  font-family: "Ubuntu", sans-serif;

  background: radial-gradient(
    circle at 30% 20%,
    #4b63c9 0%,
    #36428a 40%,
    #232a5f 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  padding: 0;
  margin: 0;
  height: 100%;
  color: #ffffff;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}
