.income-parent-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4; */
  /* height: 50vh; */
}

.income-section-container {
  /* height: ; */
  border-radius: 15px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.136);
}

.income-section-bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(240, 248, 255, 0.236);
}

/* styles for top of component */

.income-section-top {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 3rem;
  padding: 50px;
}

.total-balance-text {
  color: #ffffff90;
  font-size: 1.3rem;
}

.total-balance-quantity {
  font-size: 2.5rem;
}

/* income-section bottom */

.income-section-bottom {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.income-bottom-span-container {
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
  margin-top: -1vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .income-section-container {
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .total-balance-text {
    font-size: 0.7rem;
  }
  .income-section-top {
    padding: 20px;
  }
}

@media (max-height: 600px) {
  .income-section-container {
    height: 60vh;
  }

  .income-section-bottom {
    height: 100vh;
  }
}
