/* styles for footer */

.footer {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;

  background: linear-gradient(
    180deg,
    rgba(20, 28, 75, 0.6),
    rgba(20, 28, 75, 0.8)
  );

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 15px 15px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);

  z-index: 1000;
}

@media (max-height: 500px) {
  .footer {
    height: 20vh;
  }
}

@media (min-width: 1000px) and (min-height: 1700px) {
  .footer button:first-child {
    height: 5vh;
  }

  .footer button:last-child {
    height: 5vh;
  }
}
