.invest-functional-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1920px) {
  .invest-functional-container button {
    width: 25vw;
    height: 14vh;
  }
  .invest-functional-container button div {
    width: 12vw;
    height: 8vh;
  }
  .invest-functional-container button div img {
    width: 2.5vw;
    height: 2.5vw;
  }
}

@media (max-width: 900px) {
  .invest-functional-container button {
    width: 22vw;
    height: 15vw;
  }
  .invest-functional-container button div {
    width: 8vw;
    height: 8vw;
  }
  .invest-functional-container button div img {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 500px) {
  .invest-functional-container button {
    width: 25vw;
    height: 25vw;
  }
  .invest-functional-container button div {
    width: 10vw;
    height: 10vw;
  }
  .invest-functional-container button div img {
    width: 6vw;
    height: 6vw;
  }
}
