.invest-functional-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 900px) {
  .invest-functional-container button {
    width: 25vw;
    height: 20vw;
  }
  .invest-functional-container button div {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 500px) {
  .invest-functional-container button {
    width: 25vw;
    height: 25vw;
  }
  .invest-functional-container button div {
    width: 10vw;
    height: 10vw;
  }
}
