.recent-invests-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.recent-invests-box-child {
  width: 90vw;
  background: linear-gradient(180deg, #242f5a 0%, #1e2748 100%);
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
}

@media (min-width: 950px) {
  .recent-invests-box-child {
    width: 70vw;
  }
}
