/* PARENTS */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Login--Header */

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-header span {
  font-size: 4rem;
}

/* Login-Inputs */

.login-fields {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  background-color: #80808027;
  /* opacity: 0.3; */
  width: 30vw;
  height: 20vh;
  border-radius: 15px;
}

.login-fields input {
  font-family: "Ubuntu", sans-serif;
  height: 9vh;
  margin-left: 3rem;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  font-weight: 100;
  outline: none;
  background: none;
}

.line {
  width: 85%;
  height: 1px;
  background: gray;
  margin-left: 2rem;
}

/* Login-Buttons */

.login-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 25vh;
}

.signIn-button {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  background-color: #4bf2a4;
  border: none;
  border-radius: 15px;
  color: #002a23;
  width: 30vw;
  height: 7vh;
  font-size: 2rem;
}

.recoverPassword-button {
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
  opacity: 0.3;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 1px;
}
