/* PARENTS */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Login--Header */

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-header span {
  font-size: 4rem;
}

/* Login-Inputs */

.login-fields {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  background-color: #80808027;
  /* opacity: 0.3; */
  width: 30vw;
  height: 20vh;
  border-radius: 15px;
}

.login-fields input {
  height: 9vh;
  margin-left: 3rem;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  font-weight: 100;
  outline: none;
  background: none;
}

.line {
  width: 85%;
  height: 1px;
  background: gray;
  margin-left: 2rem;
}
